body{
  position: relative;
  margin: 0;
}
button{
  all: unset;
  cursor: pointer;
  padding: 5px;
  background-color:whitesmoke;
  box-shadow: 2px 3px 3px #041310;
}
.ambience-screen{
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: blue;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.blank-row{
  height: 80%;
}
.candles{
  background-image: url("images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.candles-row{
  height: 100%;
}
.container-fluid{
  height: 100%;
}
.home-screen{
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.moods-container{
  height: 100%;
}
.moods-row{
  height:20%;
}
