@import url('https://fonts.googleapis.com/css?family=Bitter|Cormorant+Unicase|Gugi|Raleway');
/* font-family: 'Gugi', cursive;
font-family: 'Cormorant Unicase', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Bitter', serif; */

body{
  position: relative;
  margin: 0;
}
.title{
  padding-top: 7%;
  font-size: 4.5rem;
  font-weight: bold;
  font-family: 'Bitter', serif;
  text-shadow: 2px 3px 1px white;
}
.main-title{
  font-size: 4.5rem;
  font-weight: bold;
  font-family: 'Bitter', serif;
  text-shadow: 2px 3px 1px white;
  padding-left: 4%;
  cursor: pointer;
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
}
.subtitle{
  font-size: 2rem;
  font-style: italic;
  font-family: 'Bitter', serif;
  text-shadow: 1px 1px 1px white;
}
.subtitle2{
  left: 31%;
  color: rgb(250, 236, 210);
  text-align: center;
  position: absolute;
  bottom: 6%;
  font-size: 2rem;
  font-family: 'Bitter', serif;
  text-shadow: 1px 1px 1px rgb(46, 41, 41);
  text-align: center;
}
.subtitle-mainpage{
  display: inline-block;
  font-family: 'Bitter', serif;
  font-size: 1.2rem;
  padding-left: 2%;
}
button{
  all: unset;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  background-color:whitesmoke;
  box-shadow: 2px 3px 3px #041310;
  font-family: 'Cormorant Unicase', serif;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
}
pre{
  font-family: 'Cormorant Unicase', serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.happy-col, .sad-col, .chill-col, .hype-col, .romantic-col, .confident-col{
  height: 105px;
  border-radius: 4px;
}
.ambience-screen{
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: lightcyan;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.article{
  height:33%;
}
.article-text{
  height:90%;
  overflow-y: auto;
}
.article-title, .article-author, .poem-title, .poem-author, .poem-text, .article-text{
  display: flex;
  justify-content: center;
}
.blank-row{
  height: 80%;
}
.candles{
  background-image: url("images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.candles-row{
  height: 100%;
}
.container-fluid{
  height: 100%;
}
.home-screen{
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.moods-container{
  height: 100%;
}
.moods-row{
  height:20%;
}
.poem{
  height:33%;
}
.poem-text{
  height: 650px;
  overflow-y: auto;
}
.section1, .section2, .section3, .section4 {
  color: white;
  min-height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  margin:0;
  padding-top: 1%;
}
.section1:after, .section2:after, .section3:after, .section4:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.section1 {
  justify-content: center;
}
.section-title{
  padding-top: 2%;
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: mintcream;
}
li {
  all: unset;
  display: inline-block;
  width: 23%;
  text-align: center;
}
.menu-container {
  position: sticky;
  background-color: lightgray;
  /* opacity: .5; */
  height: 10%;
  top: 0;
}
a {
  /* all: unset; */
  font-size: 1.25rem;
  color: black;
  font-family: 'Bitter', serif;
}
.menu-div {
  padding-top: 3%;
}
#navigation-menu {
  position: sticky;
  height: 100%;
  top: 0;
  background-color: lightgray;
  height: 3.5rem;
  font-size: 1.25rem;
  background-image: url("images/bg-gray.jpg");
  background-size: 25%;
}
ul {
  height: 100%;
}
.section-title {
  color: whitesmoke;
  font-family: 'Bitter', serif;
}
.title-bg {
  background-image: url("images/bg-aura2.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.goback {
  position: absolute;
  display: inline-block;
  font-family: 'Bitter', serif;
  font-size: 1.5rem;
  right: 3%;
  top: 2%;
  border: 1px solid white;
  padding: 1.7%;
  border-radius: 15px;
  box-shadow: 2px 3px 3px #041310;
  cursor: pointer;
  color: white;
}
.current-mood {
  display: inline-block;
  font-family: 'Bitter', serif;
  font-size: 2.3rem;
  text-decoration: underline;
  color: rgb(49, 45, 45);
}
.mini-div{
  color: white;
}
.formatted-poem-text{
  display: inline-block;
  width: 33%;
  text-align: center
}
.clock {
  left: 34%;
  color: white;
  position: absolute;
  bottom: 19%;
  font-size: 5rem;
  font-family: 'Bitter', serif;
  text-shadow: 1px 1px 1px rgb(46, 41, 41);
  text-align: center;
}
.sayhi {
  left: 37%;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 12%;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 1px rgb(46, 41, 41);
  text-align: center;
}